In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [39]:
loan_df = pd.read_csv(r'input\Washington_State_HDMA-2016.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (23,24,25,28,29,30,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
loan_df.head()

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,NaN,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,...,Female,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,83.370003,NaN,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,91.129997,NaN,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,146.169998,NaN,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,...,Male,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,162.470001,NaN,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,...,Female,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [35]:
loan_df.columns

Index(['tract_to_msamd_income', 'rate_spread', 'population',
       'minority_population', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'loan_amount_000s',
       'hud_median_family_income', 'applicant_income_000s', 'state_name',
       'state_abbr', 'sequence_number', 'respondent_id', 'purchaser_type_name',
       'property_type_name', 'preapproval_name', 'owner_occupancy_name',
       'msamd_name', 'loan_type_name', 'loan_purpose_name', 'lien_status_name',
       'hoepa_status_name', 'edit_status_name', 'denial_reason_name_3',
       'denial_reason_name_2', 'denial_reason_name_1', 'county_name',
       'co_applicant_sex_name', 'co_applicant_race_name_5',
       'co_applicant_race_name_4', 'co_applicant_race_name_3',
       'co_applicant_race_name_2', 'co_applicant_race_name_1',
       'co_applicant_ethnicity_name', 'census_tract_number', 'as_of_year',
       'application_date_indicator', 'applicant_sex_name',
       'applicant_race_name_5', 'applicant_race_name_4',
       'applicant_race_name_3', 'applicant_race_name_2',
       'applicant_race_name_1', 'applicant_ethnicity_name', 'agency_name',
       'agency_abbr', 'action_taken_name'],
      dtype='object')

In [25]:
loan_df.shape

(466566, 47)

In [26]:
loan_df.isna().sum()

tract_to_msamd_income                615
rate_spread                       457928
population                           610
minority_population                  610
number_of_owner_occupied_units       622
number_of_1_to_4_family_units        611
loan_amount_000s                       0
hud_median_family_income             606
applicant_income_000s              62033
state_name                             0
state_abbr                             0
sequence_number                        0
respondent_id                          0
purchaser_type_name                    0
property_type_name                     0
preapproval_name                       0
owner_occupancy_name                   0
msamd_name                         38274
loan_type_name                         0
loan_purpose_name                      0
lien_status_name                       0
hoepa_status_name                      0
edit_status_name                  392061
denial_reason_name_3              465320
denial_reason_name_2              459820
denial_reason_name_1              432067
county_name                          367
co_applicant_sex_name                  0
co_applicant_race_name_5          466552
co_applicant_race_name_4          466545
co_applicant_race_name_3          466461
co_applicant_race_name_2          464704
co_applicant_race_name_1               0
co_applicant_ethnicity_name            0
census_tract_number                  606
as_of_year                             0
application_date_indicator             0
applicant_sex_name                     0
applicant_race_name_5             466520
applicant_race_name_4             466498
applicant_race_name_3             466269
applicant_race_name_2             462088
applicant_race_name_1                  0
applicant_ethnicity_name               0
agency_name                            0
agency_abbr                            0
action_taken_name                      0
dtype: int64

In [40]:
#Since Total values are 466566, we can simply remove the following features as the number of values provided are very less
#Total Values                      466566
#edit_status_name                  392061
#denial_reason_name_3              465320
#denial_reason_name_2              459820
#denial_reason_name_1              432067
#applicant_race_name_5             466520
#applicant_race_name_4             466498
#applicant_race_name_3             466269
#applicant_race_name_2             462088
#co_applicant_race_name_5          466552
#co_applicant_race_name_4          466545
#co_applicant_race_name_3          466461
#co_applicant_race_name_2          464704

dropCol = ['rate_spread','edit_status_name','denial_reason_name_3','denial_reason_name_2','denial_reason_name_1','co_applicant_race_name_5','co_applicant_race_name_4', 'co_applicant_race_name_3','co_applicant_race_name_2','applicant_race_name_5','applicant_race_name_4','applicant_race_name_3','applicant_race_name_2']
loan_df.drop(dropCol,axis=1,inplace=True)
#def clean_df(df):
#    df = df.drop(dropCol,axis=1,inplace=True)
#    return df

In [41]:
#loan_df = clean_df(loan_df)
loan_df.shape

(466566, 34)

In [42]:
loan_df.isna().sum()

tract_to_msamd_income               615
population                          610
minority_population                 610
number_of_owner_occupied_units      622
number_of_1_to_4_family_units       611
loan_amount_000s                      0
hud_median_family_income            606
applicant_income_000s             62033
state_name                            0
state_abbr                            0
sequence_number                       0
respondent_id                         0
purchaser_type_name                   0
property_type_name                    0
preapproval_name                      0
owner_occupancy_name                  0
msamd_name                        38274
loan_type_name                        0
loan_purpose_name                     0
lien_status_name                      0
hoepa_status_name                     0
county_name                         367
co_applicant_sex_name                 0
co_applicant_race_name_1              0
co_applicant_ethnicity_name           0
census_tract_number                 606
as_of_year                            0
application_date_indicator            0
applicant_sex_name                    0
applicant_race_name_1                 0
applicant_ethnicity_name              0
agency_name                           0
agency_abbr                           0
action_taken_name                     0
dtype: int64

In [44]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466566 entries, 0 to 466565
Data columns (total 34 columns):
tract_to_msamd_income             465951 non-null float64
population                        465956 non-null float64
minority_population               465956 non-null float64
number_of_owner_occupied_units    465944 non-null float64
number_of_1_to_4_family_units     465955 non-null float64
loan_amount_000s                  466566 non-null int64
hud_median_family_income          465960 non-null float64
applicant_income_000s             404533 non-null float64
state_name                        466566 non-null object
state_abbr                        466566 non-null object
sequence_number                   466566 non-null int64
respondent_id                     466566 non-null object
purchaser_type_name               466566 non-null object
property_type_name                466566 non-null object
preapproval_name                  466566 non-null object
owner_occupancy_name              466566 non-null object
msamd_name                        428292 non-null object
loan_type_name                    466566 non-null object
loan_purpose_name                 466566 non-null object
lien_status_name                  466566 non-null object
hoepa_status_name                 466566 non-null object
county_name                       466199 non-null object
co_applicant_sex_name             466566 non-null object
co_applicant_race_name_1          466566 non-null object
co_applicant_ethnicity_name       466566 non-null object
census_tract_number               465960 non-null float64
as_of_year                        466566 non-null int64
application_date_indicator        466566 non-null int64
applicant_sex_name                466566 non-null object
applicant_race_name_1             466566 non-null object
applicant_ethnicity_name          466566 non-null object
agency_name                       466566 non-null object
agency_abbr                       466566 non-null object
action_taken_name                 466566 non-null object
dtypes: float64(8), int64(4), object(22)
memory usage: 121.0+ MB

In [48]:
loan_df['action_taken_name'].value_counts()

Loan originated                                        263712
Application denied by financial institution             64177
Application withdrawn by applicant                      60358
Loan purchased by the institution                       48356
File closed for incompleteness                          18176
Application approved but not accepted                   11735
Preapproval request denied by financial institution        35
Preapproval request approved but not accepted              17
Name: action_taken_name, dtype: int64

In [50]:
#Loan originated : Means that the loan has been approved and lender has taken it/
# We can remove the below 
#Application withdrawn by applicant : Since this has nothing to do with nvestigation
#Loan purchased by the institution: These are loans which are purchased from secondary institutions 
#and hence nothing to do with the Applicant

loan_df = loan_df[loan_df['action_taken_name'] != 'Application withdrawn by applicant']
loan_df = loan_df[loan_df['action_taken_name'] != 'Loan purchased by the institution']

#loan_df = loan_df.drop([loan_df['action_taken_name'] == 'Loan purchased by the institution'],axis=0,inplace=True)
loan_df.shape

(357852, 34)

In [80]:
#Lets read the County codes database
county_df = pd.read_excel(r"input\all-geocodes-v2016.xlsx")

In [81]:
#Washington state code is 53
county_df.columns

Index(['Summary Level', 'State Code (FIPS)', 'County Code (FIPS)',
       'County Subdivision Code (FIPS)', 'Place Code (FIPS)',
       'Consolidtated City Code (FIPS)',
       'Area Name (including legal/statistical area description)'],
      dtype='object')

In [82]:
loan_df['state_name'].head()

0    Washington
1    Washington
2    Washington
3    Washington
4    Washington
Name: state_name, dtype: object

In [84]:
county_df = county_df[county_df['State Code (FIPS)'] == 53]
temp_df = pd.DataFrame()

In [85]:
temp_df['county_name'] = county_df['Area Name (including legal/statistical area description)']

In [87]:
temp_df['county_code'] = county_df['State Code (FIPS)'][county_df['State Code (FIPS)'] == 53]

In [88]:
temp_df.head()

         county_name  county_code
40536     Washington           53
40537   Adams County           53
40538  Asotin County           53
40539  Benton County           53
40540  Chelan County           53

In [91]:
temp_df.reset_index()

     index            county_name  county_code
0    40536             Washington           53
1    40537           Adams County           53
2    40538          Asotin County           53
3    40539          Benton County           53
4    40540          Chelan County           53
5    40541         Clallam County           53
6    40542           Clark County           53
7    40543        Columbia County           53
8    40544         Cowlitz County           53
9    40545         Douglas County           53
10   40546           Ferry County           53
11   40547        Franklin County           53
12   40548        Garfield County           53
13   40549           Grant County           53
14   40550    Grays Harbor County           53
15   40551          Island County           53
16   40552       Jefferson County           53
17   40553            King County           53
18   40554          Kitsap County           53
19   40555        Kittitas County           53
20   40556       Klickitat County           53
21   40557           Lewis County           53
22   40558         Lincoln County           53
23   40559           Mason County           53
24   40560        Okanogan County           53
25   40561         Pacific County           53
26   40562    Pend Oreille County           53
27   40563          Pierce County           53
28   40564        San Juan County           53
29   40565          Skagit County           53
..     ...                    ...          ...
291  40827         Union Gap city           53
292  40828         Uniontown town           53
293  40829  University Place city           53
294  40830             Vader city           53
295  40831         Vancouver city           53
296  40832         Waitsburg city           53
297  40833       Walla Walla city           53
298  40834            Wapato city           53
299  40835            Warden city           53
300  40836         Washougal city           53
301  40837         Washtucna town           53
302  40838        Waterville town           53
303  40839           Waverly town           53
304  40840         Wenatchee city           53
305  40841          Westport city           53
306  40842     West Richland city           53
307  40843      White Salmon city           53
308  40844            Wilbur town           53
309  40845          Wilkeson town           53
310  40846      Wilson Creek town           53
311  40847           Winlock city           53
312  40848          Winthrop town           53
313  40849       Woodinville city           53
314  40850          Woodland city           53
315  40851           Woodway city           53
316  40852            Yacolt town           53
317  40853            Yakima city           53
318  40854      Yarrow Point town           53
319  40855              Yelm city           53
320  40856            Zillah city           53

[321 rows x 3 columns]

In [92]:
temp_df.columns
#temp_df.drop('index',axis=1,inplace=True)

Index(['county_name', 'county_code'], dtype='object')

In [93]:
temp_df.head()

         county_name  county_code
40536     Washington           53
40537   Adams County           53
40538  Asotin County           53
40539  Benton County           53
40540  Chelan County           53

In [94]:
final_df = pd.merge(loan_df,temp_df,how='left',on='county_name')

In [96]:
final_df.columns

Index(['tract_to_msamd_income', 'population', 'minority_population',
       'number_of_owner_occupied_units', 'number_of_1_to_4_family_units',
       'loan_amount_000s', 'hud_median_family_income', 'applicant_income_000s',
       'state_name', 'state_abbr', 'sequence_number', 'respondent_id',
       'purchaser_type_name', 'property_type_name', 'preapproval_name',
       'owner_occupancy_name', 'msamd_name', 'loan_type_name',
       'loan_purpose_name', 'lien_status_name', 'hoepa_status_name',
       'county_name', 'co_applicant_sex_name', 'co_applicant_race_name_1',
       'co_applicant_ethnicity_name', 'census_tract_number', 'as_of_year',
       'application_date_indicator', 'applicant_sex_name',
       'applicant_race_name_1', 'applicant_ethnicity_name', 'agency_name',
       'agency_abbr', 'action_taken_name', 'county_code'],
      dtype='object')

In [98]:
#Now we have final_df which is for Washington County
final_df['county_name'].unique()

array(['Clark County', 'Walla Walla County', 'Kitsap County',
       'Pierce County', 'Snohomish County', 'Thurston County',
       'Skagit County', 'King County', 'Whatcom County', 'Yakima County',
       'Spokane County', 'Franklin County', 'Benton County',
       'Cowlitz County', 'Island County', 'Grays Harbor County',
       'Clallam County', 'Lewis County', 'Skamania County',
       'Kittitas County', 'Chelan County', 'Asotin County',
       'Lincoln County', 'Ferry County', 'Stevens County',
       'San Juan County', 'Mason County', 'Klickitat County',
       'Jefferson County', 'Grant County', 'Okanogan County',
       'Pacific County', 'Douglas County', 'Whitman County',
       'Garfield County', 'Adams County', 'Wahkiakum County', nan,
       'Columbia County', 'Pend Oreille County'], dtype=object)

In [114]:
#Create a new feature 'Loan Approved'
final_df['Loan_Approved'] = final_df['action_taken_name'].map(lambda x: "Approved" if x=='Loan originated' else 'Not Approved')

In [119]:
plt.figure(figsize=(20,20))
#sns.barplot(x='county_name',y='Loan_Approved',hue='applicant_sex_name',data=final_df)
final_df.plot(x='county_name',y='Loan_Approved',kind='bar')

TypeError: Empty 'DataFrame': no numeric data to plot